*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #dcf4e9d6;
  padding: 20px;
  margin: 0;
  min-height: 80vh;
  display: grid;
  place-items: center;
}

.box {
  background: #a0afa47d;
  padding: 15px;
  width: min(100%, 520px);
  border: 3px solid #58736b;
  border-radius: 20px;
}

header {
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(44px, 1fr));
  width: 100%;
  max-width: 360px;
  gap: 8px;
  margin: 10px 0 15px;
  min-height: 350px;
  align-content: start;
}

.tile {
  aspect-ratio: 1 / 1;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
  border: 2px solid #58736b;
}

.green {
  background: #6aaa64;
  color: white;
  /* border-color: #6aaa64; */
}

.yellow {
  background: #c9b458;
  color: white;
  /* border-color: #c9b458; */
}

.gray {
  background: #787c7e;
  color: white;
  /* border-color: #787c7e; */
}

.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

input {
  padding: 8px;
  font-size: 16px;
  width: 140px;
  flex: 1;
  border: 2px solid #58736b;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #58736b;
  background: #f0f0f0;
}

#message {
  margin-top: 10px;
}

@media (max-width: 480px) {
  .box {
    max-width: 100%;
    padding: 18px;
  }

  h1 {
    font-size: 26px;
  }

  p {
    font-size: 16px;
  }

  .grid {
    max-width: 100%;
    gap: 6px;
  }

  .tile {
    font-size: 24px;
  }

  input {
    font-size: 18px;
    padding: 10px;
  }

  button {
    font-size: 18px;
    padding: 10px 14px;
  }
}
